@using CSIDE.Data.Models.Shared
@using CSIDE.Shared.Options
@using Microsoft.Extensions.Options
@using NetTopologySuite.Geometries
@using NetTopologySuite.IO
@using System.Text.Json
@using System.Text.Json.Serialization

@inject IJSRuntime JS
@inject IOptions<MappingOptions> MappingOptions

@implements IAsyncDisposable

<div id="@MapId" class="" style="width:100%;height:400px"></div>

@code {
    [Parameter]
    public Geometry? Geometry { get; set; }
    [Parameter] 
    public required Data.Models.RightsOfWay.Route[] ExistingRoutes { get; set; }
    [Parameter]
    public Func<double[], Task<Data.Models.RightsOfWay.Route[]>>? OnAddOrRemoveRouteMethod { get; set; }

    private string MapId = $"route-selector-map-{new Random().Next()}";

    private IJSObjectReference? _jsModule;
    private DotNetObjectReference<RouteSelectorMap>? self;
    private MappingOptions _mappingOptions => MappingOptions.Value;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            self ??= DotNetObjectReference.Create(this);
            GeoJsonWriter _geoJsonWriter = new GeoJsonWriter();
            var GeometryGeoJson = _geoJsonWriter.Write(Geometry);
            var ExistingRoutesGeoJson = _geoJsonWriter.Write(ExistingRoutes.Select(r => r.Geom));
            var mapConfigClass = new MapConfiguration()
            {
                MapId = MapId,
                OSMapsAPIKey = _mappingOptions.OSMapsAPIKey,
                OSLicenceNumber = _mappingOptions.OSLicenceNumber,
                Basemap = BasemapLayer.Outdoor,
                Overlays = [
                    new() {
                        MapServiceBaseURL = _mappingOptions.MapServerRoot,
                        LayerName = _mappingOptions.RouteLayer,
                    }
                ]
            };
            JsonSerializerOptions opts = new(JsonSerializerDefaults.Web);
            opts.Converters.Add(new JsonStringEnumConverter());
            var mapConfigJson = JsonSerializer.Serialize(mapConfigClass, opts);

            _jsModule ??= await JS.InvokeAsync<IJSObjectReference>("import", "./js/routeSelectorMap.js");
            await _jsModule.InvokeVoidAsync("initMap", GeometryGeoJson, ExistingRoutesGeoJson, mapConfigJson, self);
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    [JSInvokable]
    public async Task AddOrRemoveRoute(double[] coordinates)
    {
        if (OnAddOrRemoveRouteMethod != null)
        {
            if (coordinates.Length != 2)
            {
                throw new ArgumentException("Coordinates must be supplied as an array of 2 values");
            }
            ExistingRoutes = await OnAddOrRemoveRouteMethod.Invoke(coordinates);
            await RedrawLinkedRoutes();
        }
    }

    public async Task RedrawLinkedRoutes(){
        GeoJsonWriter _geoJsonWriter = new GeoJsonWriter();
        var ExistingRoutesGeoJson = _geoJsonWriter.Write(ExistingRoutes.Select(r => r.Geom));
        await _jsModule!.InvokeVoidAsync("updateExistingRoutes", ExistingRoutesGeoJson);
    }

    public async Task ClearDrawnGeometries()
    {
        await _jsModule!.InvokeVoidAsync("clearDrawnGeometries");
    }


    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        try
        {
            if (_jsModule != null)
            {
                await _jsModule.DisposeAsync();
            }
        }
        catch (JSDisconnectedException)
        {
            // Ignore as it doesn't matter
        }
        finally
        {
            GC.SuppressFinalize(this);
        }
    }
    
}