@using CSIDE.Data.Models.Maintenance
@using CSIDE.Data.Services
@using CSIDE.Data.Models.RightsOfWay

@inject IRightsOfWayService rightsOfWayService
@inject IMaintenanceJobsService maintenanceJobsService
@inject ILogger<RightsOfWayClosuresCard> logger

<AuthorizeView Roles="Administrator, RoW Officer, Ranger">
    <Card Style="max-height:75vh;overflow-y:auto;">
    <CardBody>
    <CardTitle Class="mb-4">@localizer["Rights of Way Closures Card Title"]</CardTitle>
        @if (IsBusy)
        {
            <CardTextPlaceholder />
        } 
        else
        {
            if (ErrorMessage is not null)
            {
                    <div class="alert alert-danger">@ErrorMessage</div>
            }
            if (Routes is not null && Routes.Count != 0)
            {
                <div class="list-group">
                    @foreach (ClosedRoutesViewModel route in Routes.OrderBy(d => d.ClosureEndDate))
                    {
                        <RightsOfWayClosureListItem route="@route" />
                    }
                </div>
            }
            else
            {
                <Alert Color="AlertColor.Info">@localizer["No Closed Routes Message"]</Alert>
            }   
        }
    </CardBody>
</Card>
</AuthorizeView>

@code {
    [PersistentState]
    public IReadOnlyCollection<ClosedRoutesViewModel> Routes { get; set; } = [];
    private IReadOnlyCollection<Team> MaintenanceTeam { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationStateTask { get; set; }
    private string? UserID { get; set; }
    private bool IsBusy { get; set; }
    private string? ErrorMessage { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        if (Routes is null)
        {
            IsBusy = true;
            ErrorMessage = null;
            StateHasChanged();

            try
            {
                if (AuthenticationStateTask != null)
                {
                    var authState = await AuthenticationStateTask;
                    UserID = authState.GetUserId();
                }

                if (UserID != null)
                {
                    MaintenanceTeam = await maintenanceJobsService.GetMaintenanceTeamForUser(UserID);
                }

                if (MaintenanceTeam.Count >= 1)
                {
                    var teamIds = MaintenanceTeam.Select(t => t.Id).ToList();
                    Routes = await rightsOfWayService.GetClosedRoutesForTeam(teamIds);
                }
                else
                {
                    Routes = await rightsOfWayService.GetClosedRoutes();
                }
            }
            catch (Exception ex)
            {
                ErrorMessage = localizer["Rights Of Way Closure Card Error Message"];
                logger.LogError(ex, "An error occurred loading closed rights of way in the card component");
            }
            finally
            {
                IsBusy = false;
                StateHasChanged();
            }
        }
    }
}
