@inject IJSRuntime JS
@implements IAsyncDisposable
@using CSIDE.Data.Models.Shared
@using NetTopologySuite.Geometries
@using NetTopologySuite.IO
@using System.Text.Json
@using System.Text.Json.Serialization
@inject IConfiguration config;

<div id="@MapId" class="" style="width:100%;height:400px"></div>

@code {
    [Parameter]
    public Geometry? Geometry { get; set; }
    [Parameter]
    public required string GeomType{ get; set; }
    [Parameter] 
    public EventCallback<string> OnDrawEndMethod { get; set; }
    [Parameter]
    public Func<double[], Task<string>>? OnGetSnappablesMethod { get; set; }

    private string MapId = $"edit-map-{new Random().Next()}";

    private IJSObjectReference? _jsModule;
    private DotNetObjectReference<EditMap>? self;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            self ??= DotNetObjectReference.Create(this);
            GeoJsonWriter _geoJsonWriter = new GeoJsonWriter();
            var GeoJson = _geoJsonWriter.Write(Geometry);

            var mappingConfig = config.GetSection("CSIDE:Mapping");
            var boundsConfig = mappingConfig.GetSection("StartBounds");
            var routeOverlay = new OverlayConfiguration() { MapServiceBaseURL = mappingConfig.GetValue<string>("MapServerRoot")!, LayerName = mappingConfig.GetValue<string>("RouteLayer") };
            var mapConfigClass = new MapConfiguration()
                {
                    MapId = MapId,
                    OSMapsAPIKey = mappingConfig.GetValue<string>("OSMapsAPIKey")!,
                    OSLicenceNumber = mappingConfig.GetValue<string>("OSLicenceNumber")!,
                    Basemap = BasemapLayer.Outdoor,
                    Overlays = [routeOverlay]
                };
            JsonSerializerOptions opts = new(JsonSerializerDefaults.Web);
            opts.Converters.Add(new JsonStringEnumConverter());
            var mapConfigJson = JsonSerializer.Serialize(mapConfigClass, opts);

            _jsModule ??= await JS.InvokeAsync<IJSObjectReference>("import", "./js/editMap.js");
            await _jsModule.InvokeVoidAsync("initMap", GeomType, GeoJson, mapConfigJson, self);
        }
        await base.OnAfterRenderAsync(firstRender);
    }


    [JSInvokable]
    public void OnDrawEnd(string features)
    {
        OnDrawEndMethod.InvokeAsync(features);
        //check validity of features
    }

    [JSInvokable]
    public async Task<string> GetSnappables(double[] bbox)
    {
        if (OnGetSnappablesMethod != null)
        {
            if (bbox.Length != 4)
            {
                throw new ArgumentException("Bounding box must have 4 values");
            }
            return await OnGetSnappablesMethod.Invoke(bbox);
        }
        return "";
    }

    public async Task ClearDrawnGeometries()
    {
        await _jsModule!.InvokeVoidAsync("clearDrawnGeometries");
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (_jsModule is not null)
        {
            await _jsModule.DisposeAsync();
        }
    }
}