<p>
    <span class="text-muted bi @(SubscribersCount < 1 ? "bi-eye-slash" : "bi-eye")"></span>
    <span class="text-muted">@GetMessage()</span>
</p>
@code {
    
    [Parameter]
    public int SubscribersCount { get; set; }

    // Determine message based on SubscribersCount
    private string GetMessage()
    {
        switch (SubscribersCount)
        {
            case 0:
                return "No one is subscribed to updates for this job";
            case 1:
                return "1 person is subscribed to updates for this job";
            default:
                return $"{SubscribersCount} people are subscribed to updates for this job";
        }
    }
}
