@* <span class="bi bi-eye"></span><span>1 person is subscribed to updates for this job</span> *@
<span class="bi @(SubscribersCount < 1 ? "bi-eye-slash" : "bi-eye")"></span>
<span>@GetMessage()</span>
@code {
    int SubscribersCount = 4;
    public string GetMessage()
    {
        switch (SubscribersCount)
        {
            case 0:
                return "No one is subscribed to updates for this job";
            case 1:
                return "1 person is subscribed to updates for this job";
            default:
                return $"{SubscribersCount} people are subscribed to updates for this job";
        }
    }
}
