@page "/PPO"

<div>
    <Breadcrumb Items="NavItems"></Breadcrumb>
</div>

<h1>@localizer["PPO Full Text"]</h1>



@code {

    private List<BreadcrumbItem>? NavItems;


    protected override void OnInitialized()
    {
        NavItems = new List<BreadcrumbItem>
        {
            new BreadcrumbItem{ Text = localizer["Home Title"], Href ="/" },
            new BreadcrumbItem{ Text = localizer["PPO Abbreviation"], IsCurrentPage = true }
        };
    }


}
