@attribute [AllowAnonymous]
@page "/Account/AccessDenied"
<PageTitle>Access Denied</PageTitle>

<h3>Access Denied</h3>

<p>Looks like you don't have access to this page. Contact your system administrator to request access.</p>

@code {

}
