@attribute [AllowAnonymous]
@page "/Account/AccessDenied"

<PageTitle>@localizer["Access Denied Title"]</PageTitle>

<h3>@localizer["Access Denied Title"]</h3>

<p>@localizer["Access Denied Text"]</p>
