@page "/Account/MyAccount"
@inject IDbContextFactory<ApplicationDbContext> ContextFactory;

<PageTitle>My Account</PageTitle>

<h3>My Account</h3>

<p>Your account details and password are managed by your identity provider.</p>

<table class="table table-striped">
    <tr><th>Display name</th><td>@UserDisplayName</td></tr>
    <tr><th>Primary email address</th><td>@UserPrimaryEmailAddress</td></tr>
    <tr><th>User ID</th><td>@UserID</td></tr>
</table>

<h3>My roles</h3>

@if(ApplicationRoles is null){
    <p>Loading</p>
}else{
    if(ApplicationRoles.Count == 0)
    {
        <p>You haven't been assigined any roles</p>
    }
    else
    {
        <p>These are the roles that have been assigned to you by your system administrator. They control what you can and can't do in the app.</p>
        <ul>
            @foreach (var role in ApplicationRoles)
            {
                <li>@role.RoleName</li>
            }
        </ul>
    }
    
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private string? UserID{ get; set; }
    private string? UserDisplayName{ get; set; }
    private string? UserPrimaryEmailAddress { get; set; }
    private List<ApplicationRole>? ApplicationRoles { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = ContextFactory.CreateDbContext();

        var user = (await authenticationStateTask).User;
        UserID = user.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;
        UserDisplayName = user.Identity?.Name;
        UserPrimaryEmailAddress = user.FindFirst(u => u.Type.Contains("email"))?.Value;

        var userRoles = await context.ApplicationUserRoles
                .Where(u => u.UserId == UserID)
                .Include(a => a.Role)
                .AsNoTrackingWithIdentityResolution()
                .ToListAsync();

        ApplicationRoles = userRoles.Select(r => r.Role).ToList();

    }
}