@page "/Maintenance"
@inject IStringLocalizer<CSIDE.Properties.Resources> localizer

<div>
    <Breadcrumb Items="NavItems"></Breadcrumb>
</div>

<h1>@localizer["Maintenance Title"]</h1>

<a href="/Maintenance/Create" class="btn btn-primary">@localizer["Create New Job Label"]</a>

@code {

    private List<BreadcrumbItem>? NavItems;


    protected override void OnInitialized()
    {
        NavItems = new List<BreadcrumbItem>
        {
            new BreadcrumbItem{ Text = localizer["Home Title"], Href ="/" },
            new BreadcrumbItem{ Text = localizer["Maintenance Title"], IsCurrentPage = true }
        };
    }


}
