@page "/Maintenance/Jobs"
@using CSIDE.Components.Maintenance
@inject IStringLocalizer<Properties.Resources> localizer

<PageTitle>@localizer["Search Results Title"]</PageTitle>

<div>
    <Breadcrumb Items="NavItems"></Breadcrumb>
</div>

<h1>@localizer["Search Results Title"]</h1>

@if(SearchResults is not null)
{
    <JobsList Jobs="@SearchResults"></JobsList>    
}
