@page "/Maintenance/Jobs"
@using CSIDE.Components.Maintenance
@using CSIDE.Data.Models.Maintenance
@using NodaTime
@inject IStringLocalizer<CSIDE.Properties.Resources> localizer
@inject IDbContextFactory<ApplicationDbContext> contextFactory
@inject NavigationManager navigationManager

<PageTitle>@localizer["Search Results Title"]</PageTitle>

<div>
    <Breadcrumb Items="NavItems"></Breadcrumb>
</div>

<h1>@localizer["Search Results Title"]</h1>

@if(SearchResults is not null)
{
    <JobsList Jobs="@SearchResults"></JobsList>    
}


@code {
    private List<BreadcrumbItem>? NavItems;

    [SupplyParameterFromQuery]
    private string? RouteId { get; set; }
    [SupplyParameterFromQuery]
    private string[]? ParishId { get; set; }
    [SupplyParameterFromQuery]
    private string? LoggedById { get; set; }
    [SupplyParameterFromQuery]
    private string? AssignedToTeamId { get; set; }
    [SupplyParameterFromQuery]
    private string? JobPriorityId { get; set; }
    [SupplyParameterFromQuery]
    private string? JobStatusId { get; set; }
    [SupplyParameterFromQuery]
    private DateOnly? LogDateFrom { get; set; }
    [SupplyParameterFromQuery]
    private DateOnly? LogDateTo { get; set; }
    [SupplyParameterFromQuery]
    private DateOnly? CompletedDateFrom { get; set; }
    [SupplyParameterFromQuery]
    private DateOnly? CompletedDateTo { get; set; }


    private List<Job>? SearchResults;

    protected override async Task OnParametersSetAsync()
    {
        NavItems = new List<BreadcrumbItem>
        {
            new BreadcrumbItem{ Text = localizer["Home Title"], Href ="/" },
            new BreadcrumbItem{ Text = localizer["Maintenance Title"], Href="/Maintenance" },
            new BreadcrumbItem{ Text = localizer["Search Results Title"], IsCurrentPage = true }
        };
        //fetch results
        using var context = contextFactory.CreateDbContext();

        var query = context.MaintenanceJobs.AsQueryable();

        if(RouteId is not null)
        {
            query = query.Where(j => j.RouteId == RouteId);
        }
        if (ParishId is not null && ParishId.Length != 0)
        {
            var parsedParishIds = ParishId
                .Where(id => int.TryParse(id, out _))
                .Select(id => int.Parse(id))
                .ToList();
            if(parsedParishIds.Any()){
                query = query.Where(j => j.ParishId != null && parsedParishIds.Contains(j.ParishId.Value));
            }
            
        }
        if (AssignedToTeamId is not null && int.TryParse(AssignedToTeamId, out int parsedAssignedToTeamId))
        {
            query = query.Where(j => j.MaintenanceTeamId == parsedAssignedToTeamId);
        }
        if (JobPriorityId is not null && int.TryParse(JobPriorityId, out int parsedPriorityId))
        {
            query = query.Where(j => j.JobPriorityId == parsedPriorityId);
        }
        if (JobStatusId is not null && int.TryParse(JobStatusId, out int parsedStatusId))
        {
            query = query.Where(j => j.JobStatusId == parsedStatusId);
        }
        if(LogDateFrom is not null)
        {
            query = query.Where(j => j.LogDate >= ConvertDateToInstant(LogDateFrom.Value));
        }
        if (LogDateTo is not null)
        {
            query = query.Where(j => j.LogDate < ConvertDateToInstant(LogDateTo.Value).Plus(Duration.FromDays(1)));
        }
        if (CompletedDateFrom is not null)
        {
            query = query.Where(j => j.CompletionDate >= NodaTime.LocalDate.FromDateOnly(CompletedDateFrom.Value));
        }

        if (CompletedDateTo is not null)
        {
            query = query.Where(j => j.CompletionDate < NodaTime.LocalDate.FromDateOnly(CompletedDateTo.Value).PlusDays(1));
        }

        SearchResults = await query.OrderByDescending(j => j.LogDate).Take(500).ToListAsync();

    }

    private Instant ConvertDateToInstant(DateOnly date)
    {
        var timezone = NodaTime.DateTimeZoneProviders.Tzdb.GetSystemDefault();
        var localDate = NodaTime.LocalDate.FromDateOnly(date);
        var zonedDate = localDate.AtStartOfDayInZone(timezone);
        return zonedDate.ToInstant();
    }
}
