@page "/"
@using CSIDE.Options
@using Microsoft.Extensions.Options

@inject IOptions<CSIDEOptions> CsideOptions

<PageTitle>@localizer["Home Title"]</PageTitle>

<h1>@localizer["Welcome Text", _csideOptions.AppName]</h1>

@code {
    private CSIDEOptions _csideOptions => CsideOptions.Value;
}