@page "/"
@inject IConfiguration config
@inject IStringLocalizer<CSIDE.Properties.Resources> localizer


<PageTitle>@localizer["Home Title"]</PageTitle>

<h1>@localizer["Welcome Text", config.GetValue<string>("CSIDE:AppName")!]</h1>
