@page "/DMMO/AddressesFromMap/{Id:int}"
@using CSIDE.Components.Mapping
@using CSIDE.Components.Shared
@using CSIDE.Data.Models.DMMO
@using CSIDE.Services
@using CSIDE.Data.Models.Shared

<div>
    <Breadcrumb Items="NavItems"></Breadcrumb>
</div>

<PageTitle>@localizer["Add Addresses From Map Label"]</PageTitle>

<h1>@localizer["Add Addresses From Map Label"]</h1>
<a href="DMMO/Details/@Id" class="my-2"><Icon Name="IconName.ArrowLeftCircle"></Icon> @localizer["Back To DMMO Label"]</a>
<p>@localizer["Add Addresses From Map Help Text"]</p>

@if(ErrorMessage is not null)
{
    <div class="alert alert-danger" role="alert">
        @ErrorMessage
    </div>
}

@if (DMMOApplication is not null)
{
    <MapBasedAddressSelector ExistingAddresses="ExistingAddresses" Geom="DMMOApplication.Geom" OnMultipleAddressesSelected="HandleMultipleAddressesSelected" OnSingleAddressSelected="HandleSingleAddressSelected"></MapBasedAddressSelector>
}
