@page "/Error"
@attribute [AllowAnonymous]
@using System.Diagnostics

<PageTitle>Error</PageTitle>

<h1>Sorry! Something went wrong</h1>
<p>There was an error dealing with your request. If this continues to happen, get in touch with your system administrator</p>

@if (ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@RequestId</code>
    </p>
}

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
